a.item_title:link {text-decoration:none;}
a.item_title:visited {text-decoration:none;}
a.item_title:hover {text-decoration:underline;}
a.item_title:active {text-decoration:underline;}
.item_title {font-weight:bold;}
.centered {width:80%;margin-left:auto;margin-right:auto;}
.mark_all {font-size: .65em !important;}
.mark_week {font-size: .65em !important;}
